{% extends 'base.html.twig' %}

{% block body %}
    {% set columns = [
        'locale',
        'marking',
        'targetLocale',
        'count'
    ] %}
    {#    <twig:simple_datatables :data="results" :columns="columns">#}

    {% if targets|length %}
        <twig:simple_datatables :data="targets" :columns="['marking','key','engine',
        'createdAt',
        'text','targetLocale','targetText']">
            <twig:block name="createdAt">
                <time
                        title="{{ row.createdAt|date('c') }}"
                        data-controller="timeago"

                      data-timeago-refresh-interval-value="5000"
                      data-timeago-include-seconds-value="true"
                      data-timeago-add-suffix-value="true"
                      data-timeago-datetime-value="{{ row.createdAt|date('c') }}"></time>

            </twig:block>
            <twig:block name="text">
                <code>
                    {{ row.source.locale }}->{{ row.targetLocale     }}
                </code>
                <a href="{{ path('app_source', {hash: row.source.hash}) }}">
                    {{ row.source.text }}
                </a>
            </twig:block>
        </twig:simple_datatables>
    {% endif %}

    {#    {% for source in recent|default([]) %} #}
    {#        <li> #}
    {#            {{ source.text }} #}
    {#            <ul> #}
    {#                {% for target in source.targets %} #}
    {#                    <li> #}
    {#                        <i>{{ target.engine }} #}
    {#                            {{ target.targetLocale }} #}
    {#                        </i> #}
    {#                        {{ target.targetText }} #}
    {#                    </li> #}
    {#                {% endfor %} #}
    {#            </ul> #}
    {#        </li> #}
    {#    {% endfor %} #}
    {#    survos translation server. #}


{% endblock %}

{% block title %}

{% endblock %}

