{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <twig:LocaleSwitcher />

    {% for class, data in counts %}
        <li>
            {{ class }}
            {{ data.count }}
        </li>
    {% endfor %}


    {% if recent|length %}
    <twig:simple_datatables :data="recent" :columns="['text','locale','translations']">
        <twig:block name="translations">
            <ul>
                {% for t in row.targets %}
                    <li>
                        {{ t.marking }}
                        <i>{{ t.targetLocale }}</i>
                        <b>{{ t.targetText }}</b>
                    </li>
                {% endfor %}
            </ul>
        </twig:block>
    </twig:simple_datatables>
    {% endif %}

{#    {% for source in recent|default([]) %}#}
{#        <li>#}
{#            {{ source.text }}#}
{#            <ul>#}
{#                {% for target in source.targets %}#}
{#                    <li>#}
{#                        <i>{{ target.engine }}#}
{#                            {{ target.targetLocale }}#}
{#                        </i>#}
{#                        {{ target.targetText }}#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </li>#}
{#    {% endfor %}#}
{#    survos translation server.#}
{% endblock %}
