{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .marking-t {
            background-color: green;
        }

        .marking-u {
            background-color: yellow;
        }

        .marking-i {
            background-color: red;
        }
        .small-chart {
            max-width: 80px;
            max-height: 80px;
        }

    </style>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
        <tr>
            <td>{{ ux_icon('mdi:arrow-down') }} from
                /
                to {{ ux_icon('mdi:arrow-right') }}
            </td>
            {% for targetLocale in app.enabled_locales %}
                <th>{{ targetLocale }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for code, info in globalCharts %}
            <h3>{{ code }}</h3>
            {{ render_chart(info.chart, {'class': 'small-chart'}) }}
{#            <b>{{ total }}</b>#}
            {% for marking, count in info.data %}
                {% if marking != 'total' %}
{#                    {% set percent = (count * 100) / total %}#}
                    {% if count %}
                        <span title="{{ marking }}: {{ count }}" class="marking-{{ marking }}">
                                 <i><small>{{ count }}</small></i>
{#                                            {{ percent|number_format(0) }}%#}
                            {#                                            {{ marking }}#}
                                </span>
                    {% endif %}
                {% endif %}
            {% endfor %}

        {% endfor %}

        {% for source, targets in grid %}
            <tr>
                <th>{{ source }}</th>

                {% for targetLocale in app.enabled_locales %}
                    {#            {% for target, counts in targets %} #}
                    {% set t = targets[targetLocale] %}
                    {% set total = t.total %}
                    <td>
                        {% if total %}
                            {{ render_chart(charts[source][targetLocale],
                                {'class': 'small-chart'}) }}
                            <b>{{ total }}</b>
                            {% for marking, count in t %}
                                {% if marking != 'total' %}
                                    {% set percent = (count * 100) / total %}
                                    {% if count %}
                                        <span title="{{ marking }}: {{ count }}" class="marking-{{ marking }}">
                                 <i><small>{{ count }}</small></i>
{#                                            {{ percent|number_format(0) }}%#}
{#                                            {{ marking }}#}
                                </span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {# @todo: change the background? #}

                        {% endif %}
                    </td>

                    {#                        {% if count %} #}
                    {#                        <li> #}
                    {#                            {{ marking }}: {{ count }} #}
                    {#                        </li> #}
                    {#                        {% endif %} #}
                    {#                    {% endfor %} #}
                {% endfor %}
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
