{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ hash }}</h1>
    {% if source %}
        <h2><code>{{ source.locale }}</code> {{ source.text }}</h2>
        <a href="/api/sources/{{ source.hash }}" target="_blank">
            API {{ source.hash }}
        </a>
        <h3>Stored in source</h3>
        <ul>

            {% for locale, text in source.translations %}
                <li>
                    {{ locale }}
                    {{ text }}
                </li>

            {% endfor %}
        </ul>
    {% endif %}

    <h3>Target Details</h3>
    <twig:simple_datatables :data="source.targets" :columns="['key','targetLocale', 'engine', 'targetText']">

    </twig:simple_datatables>

{% endblock %}


