{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" value="Submit">POST to API {{ translationServer }}</button>
    {{ form_end(form) }}

    {% if response is not null %}
    <div class="row">
        <div class="col-md-6">
                {% for item in response.sources|default([]) %}
                    <b>{{ item.locale }}: {{ item.text }}</b> <i>{{ item.hash }}</i>
                    {{ dump(item,payload) }}
{#                    <ul>#}
{#                    {% for locale in payload.to|filter(l => l in item.translations|keys) %}#}
{#                        <li>#}
{#                            {{ locale }}: {{ item.translations[locale]??'~' }}<br />#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                    </ul>#}
                {% endfor %}
        </div>
        <div class="col-md-6">
            @todo: wrap in andy/json
            <pre>{{ response|json_pretty }}</pre>
        </div>
    </div>
    {% endif %}
{% endblock %}
